* {


    box-sizing: border-box;
    
    
    }
    .cajaPrincipal>div{
        display: inline-block;    
    }
    img {
        width: 150px;    
        height: 150px;    
        margin: 10px;}
    .uno {
        filter: drop-shadow(10px 10px 20px rgb(23, 177, 238));
    }
    
    .dos {
        
        filter: drop-shadow(10px 10px 20px rgb(104, 29, 104 ));
    }
    
    .tres {
    
        filter: drop-shadow(10px 10px 20px black);
    }
    .cuatro {
    
        filter: drop-shadow(10px 10px 20px rgb(107, 107, 107 ));
    }
    .cinco {
    
        filter: drop-shadow(10px 10px 20px rgb(47, 194, 47)) ;
    }
    .seis {
    
        filter: drop-shadow(10px 10px 20px rgb(15, 15, 143)) ;
    }
    .siete {
    
        filter: drop-shadow(10px 10px 20px rgb(209, 209, 0));
    }
    .ocho {
    
        filter: drop-shadow(10px 10px 20px rgb(60, 175, 204))  ;
    }
    .nueve {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 0, 0)) ;
    }
    .diez {
    
        filter: drop-shadow(10px 10px 20px rgb(9, 198, 255)) ;
    }
    .once {
    
        filter: drop-shadow(10px 10px 20px rgb(153, 0, 255));
    }
    .doce {
    
        filter: drop-shadow(10px 10px 20px rgb(40, 134, 40)) ;
    }
    .trece {
    
        filter: drop-shadow(10px 10px 20px rgb(208, 10, 248)) ;
    }
    .catorce {
    
        filter: drop-shadow(10px 10px 20px rgb(14, 175, 8))  ;
    }
    .quince {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 29, 29)) ;
    }
    .diesiseis {
    
        filter: drop-shadow(10px 10px 20px rgb(3, 142, 255)) ;
    }
    .diesisiete {
    
        filter: drop-shadow(10px 10px 20px rgb(161, 9, 248)) ;
    }
    .diesiocho {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 136, 0))  ;
    }
    .diesinueve {
    
        filter: drop-shadow(10px 10px 20px  rgb(255, 230, 0)) ;
    }
    .veinte {
    
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 255)) ;
    }
    .veintiuno {
    
        filter: drop-shadow(10px 10px 20px rgb(89, 0, 255)) ;
    }
    .veintidos {
    
        filter: drop-shadow(10px 10px 20px rgb(2, 2, 114)) ;
    }
    .veintitres {
    
        filter: drop-shadow(10px 10px 20px rgb(98, 9, 121)) ;
    }
    .veinticuatro {
    
        filter: drop-shadow(10px 10px 20px rgba(0, 174, 255, 0.856)) ;
    }
    .veinticinco {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 123, 0));
    }
    .veintiseis {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 0, 43))  ;
    }
    .veintisiete {
    
        filter: drop-shadow(10px 10px 20px rgb(0, 183, 255)) ;
    }
    .veintiocho {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 100, 100)) ;
    }
    .veintinueve {
    
        filter: drop-shadow(10px 10px 20px rgb(53, 247, 253))  ;
    }
    .treinta {
    
        filter: drop-shadow(10px 10px 20px rgb(145, 51, 7)) ;
    }
    .treintayuno {
    
        filter: drop-shadow(10px 10px 20px rgb(241, 245, 7)) ;
    }
    .treintaydos{
    
        filter: drop-shadow(10px 10px 20px rgb(167, 3, 98)) ;
    }
    .treintaytres {
    
        filter: drop-shadow(10px 10px 20px rgb(0, 228, 228)) ;
    }
    .treintaycuatro {
    
        filter: drop-shadow(10px 10px 20px rgb(153, 20, 194)) ;
    }
    .treintaycinco {
    
        filter: drop-shadow(10px 10px 20px rgb(156, 12, 144)) ;
    }
    .treintayseis {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 165, 76));
    }
    .treintaysiete {
    
        filter: drop-shadow(10px 10px 20px rgb(237, 37, 255))  ;
    }
    .treintayocho {
    
        filter: drop-shadow(10px 10px 20px rgb(228, 133, 25)) ;
    }
    .treintaynueve {
    
        filter: drop-shadow(10px 10px 20px rgb(84, 255, 17))  ;
    }
    .cuarenta {
    
        filter: drop-shadow(10px 10px 20px  rgb(255, 153, 0)) ;
    }
    .cuarentayuno {
    
        filter: drop-shadow(10px 10px 20px rgb(154, 3, 255))  ;
    }
    .cuarentaydos {
    
        filter: drop-shadow(10px 10px 20px rgb(182, 121, 42))  ;
    }
    .cuarentaytres {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 0, 0))  ;
    }
    .cuarentaycuatro {
    
        filter: drop-shadow(10px 10px 20px rgb(38, 183, 240)) ;
    }
    .cuarentaycinco {
    
        filter: drop-shadow(10px 10px 20px rgb(0, 25, 253))  ;
    }
    .cuarentayseis {
    
        filter: drop-shadow(10px 10px 20px #000)  ;
    }
    .cuarentaysiete {
    
        filter: drop-shadow(10px 10px 20px rgb(0, 183, 255))  ;
    }
    .cuarentayocho {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 251, 0)) ;
    }
    .cuarentaynueve {
    
        filter: drop-shadow(10px 10px 20px rgb(255, 124, 2))  ;
    }
    .cincuenta {
    
        filter: drop-shadow(10px 10px 20px rgb(88, 0, 252))  ;
    }
    .cincuentayuno {
    
        filter: drop-shadow(10px 10px 20px rgb(90, 36, 0))  ;
    }
    .cincuentaydos {
    
        filter: drop-shadow(10px 10px 20px rgb(252, 194, 4))  ;
    }
    .cincuentaytres {
    
        filter: drop-shadow(10px 10px 20px rgb(4, 42, 255)) ;
    }
    .cincuentaycuatro {
    
        filter: drop-shadow(10px 10px 20px rgb(64, 1, 238))   ;
    }
    .cincuentaycinco {
    
        filter: drop-shadow(10px 10px 20px rgb(0, 241, 121))  ;
    }
    .cincuentayseis {
    
        filter: drop-shadow(10px 10px 20px rgb(1, 179, 250))  ;
    }
    .cincuentaysiete {
    
        filter: drop-shadow(10px 10px 20px rgb(4, 180, 250) )  ;
    }
    .cincuentayocho {
    
        filter: drop-shadow(10px 10px 20px rgb(3, 41, 253))  ;
    }